<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>DETAIL INFORMATION OF :- {{schoolobject}}</h1>
        <h2>Name Of The School Is {{schoolobject.sname}}</h2>
        <h2>Name Of The Principal Is {{schoolobject.sprincipal}}</h2>
        <h2>Name Of The Location Is {{schoolobject.slocation}}</h2>

        <h1>STUDENT DETAILS ARE :-</h1>
        {% for sto in schoolobject.students.all %}
        <h3>Name Of Student Is {{sto.stname}}</h3>
        <h3>Age Of Student Is {{sto.stage}}</h3>
        {% endfor %}
    </center>
</body>
</html>